#login {
	float: right;
}

.el-icon-question {
	margin-right: 5%;
	margin-top: 5%;
	color: #31affe !important;
	font-size: 2.8vh;
}

.slogan {
	position: absolute;
	top: 35%;
	left: 5%;
	height: 28%;
}

#row {
	width: 6%;
	text-align: center;
}

.register {
	width: 90%;
	position: absolute;
	bottom: 2%;
	font-size: 2vh;
	font-weight: bold;
}

.el-icon-arrow-left {
	margin-left: 2%;
	margin-top: 3%;
	color: #31affe !important;
	font-size: 2.8vh;
}

.next {
	float: right;
	margin-top: -22px;
	margin-right: 5px;
	color: #31AFFE !important;
	font-size: 2.2vh;
}

.login-img {
	position: absolute;
	top: 60px;
	left: 5.5%;
	height: 4.5%;
}

.login-content {
	position: absolute;
	top: 90px;
	left: 5.5%;
	font-size: 2.1vh;
	color: #9b9b9b;
}

#sno {
	text-align: center;
}

.sno {
	width: 90%;
	margin-top: 50%;
	margin-left: 0.1%;
	background: none;
	border: none;
	border-bottom: thin solid #31affe;
	font-size: 2.1vh;
	outline: none;
}
